# Global
.idea
.vscode
.env
.venv
esp32-firmware/src/secrets.h

# Mobile app
google-services.json
*.apk
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
.env*.local
*.tsbuildinfo
/ios
/android

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars
*.auto.tfvars